/* src/styles/Global.css */

/* Resetando margens e preenchimentos para todos os elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo global para o body */
body {
  font-family: 'Poppins', sans-serif; /* Fonte principal */
  font-weight: 400; /* Peso padrão para o texto */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Estilo para títulos (h1, h2, h3, etc.) */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif; /* Fonte para títulos */
  font-weight: 700; /* Peso mais forte para destaque */
}

/* Estilo para textos padrão (parágrafos, links, etc.) */
p, span, li, a {
  font-family: 'Poppins', sans-serif; /* Fonte principal */
  font-weight: 300; /* Peso mais leve para texto secundário */
}

/* Estilo para blocos de código */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Estilo para links */
a {
  color: inherit;
  text-decoration: none;
}

/* Remover estilo de lista */
ul {
  list-style: none;
}
